@charset "UTF-8"; /* Isso é uma regra em CSS */
/*
sugestão: Adobe Color & Palleton
cores primárias -> amarelo, vermelho & azul
cores secundárias -> violeta, verde * laranja
cores terciária -> mistura das outras duas, são os "tons pastéis"
cores frias -> à esquerda do amarelo | cores quentes -> à direita do amarelo
cores complementares -> maior CONTRASTE, por exemplo, marrom-verde*?
cores análogas -> vizinhas, tem harmonia
cores relacionadas -> duas vizinhas, e uma no lado (pula uma cor)
cores intercaladas -> pula uma, duas...

três a cinco cores, importante atentar-se com a cor da logo ou da logo com o restante...
roxo, azul e verde parece interessante! Intercalada talvez?*/

*{} /* Configuração Global das CSS*/

header {
  background-color: #0e103d;
  color: #f2d7ee;
  padding: 15px;
  text-align: center;
}
nav {
  display: flex;
  justify-content: center;
  background-color: #69306d;
  padding: 15px;
}
nav a {
  color: #f2d7ee;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}

body {
  font-family: Arial, sans-serif;
  text-align: justify;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  color: #333;
}

section {
  padding: 20px;
}

#projetos {
    background-attachment: ;
}

h2,
h3 {
  text-align: center;
}
footer {
  background-color: #4b0082;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.contact-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.contact-form input,
.contact-form textarea,
.contact-form button {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.sobre-mim {
  text-align: left;
}
.contato {
  text-align: left;
}
