@charset "UTF-8"; /* Isso é uma regra em CSS */

body{
    background-color: rgb(72, 38, 72); 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: rgb(209, 251, 255);
}

h2{
    color: aquamarine;
}

pre code {
    display: block;
    padding: 10px;
    background-color: #26041c;
    color: rgb(144, 103, 187);
}

a {
    color: aliceblue;
}