@charset "UTF-8";

/* Paleta: 041F1E, 1E2D2F, C57B57, F1AB86, F7DBA7 */
*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to bottom, #041F1E,#1E2D2F);
    background-attachment: fixed;
}

main{
    background-color: #4d7277;
    width: 600px;
    padding: 10%;
    margin: auto;
    border-radius: 50px;
    box-shadow: 0px 15px 14px #020c0cc7;
}

h1{
    text-align: left;
    color: black;
}

h2{
    text-align: right;
}

h3{
    color: #a3c7b6;
}
